<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style type="text/css">
        @charset "UTF-8";
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="http://lndhub.io" property="og:url">
    <meta content="lndhub.io" property="og:title">
    <meta content="BlueWallet server for the Lightning Network" property="og:description">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel=icon href="../static/img/bolt-card-icon.png">
    <title>LndHub - BlueWallet Lightning</title>
    <meta content="lightning network, lndhub" name="keywords">
    <meta content="BlueWallet server for the Lightning Network" name="description">
</head>
<body>
<div class="holder">
    <div class="container32">
        <div class="logo">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg width="187px" height="49px" viewBox="0 0 187 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>lndhub-logo</title>
                <defs>
                    <filter x="-26.2%" y="-25.6%" width="152.5%" height="151.2%" filterUnits="objectBoundingBox" id="filter-1">
                        <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.109702797 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                    </filter>
                    <linearGradient x1="50%" y1="2.83824061%" x2="50%" y2="100%" id="linearGradient-2">
                        <stop stop-color="#174697" offset="0%"></stop>
                        <stop stop-color="#0C2550" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient x1="50%" y1="0%" x2="50%" y2="97.8843027%" id="linearGradient-3">
                        <stop stop-color="#3F78DC" offset="0%"></stop>
                        <stop stop-color="#2F5FB3" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient x1="50%" y1="2.72534321%" x2="50%" y2="100%" id="linearGradient-4">
                        <stop stop-color="#8BD7F9" offset="0%"></stop>
                        <stop stop-color="#68BBE1" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <div id="LNDHub" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <img style="float:left; margin-right:20px;" width="80" src="../static/img/bolt-card-icon.png"/>
                    <h1>BOLT CARD HUB</h1>
                    <small>(forked from bluewallet)</small>
                </div>
            </svg>
        </div>
        <div class="scroll">
        <div class="boxes">
            <div class="box container24">
                <p class="meta">Channels</p>
                <h3>Active</h3>
                <span class="number1">{{num_active_channels}}</span>
            </div>
            <div class="box container24">
                <p class="meta">Channels</p>
                <h3>Pending</h3>
                <span class="number1">{{num_pending_channels}}</span>
            </div>
            <div class="box container24">
                <p class="meta">Connected</p>
                <h3>Peers</h3>
                <span class="number1">{{num_peers}}</span>
            </div>
            <div class="box container24">
                <p class="meta">Block</p>
                <h3>Height</h3>
                <span class="label right synced" title="{{synced_to_chain}}"></span>
                <span class="number1">{{block_height}}</span>
            </div>
        </div>
        </div>

        <h3>Channels</h3>
        <div class="box container16">
            <div class="table">
                {{#channels}}
                <a class="decor" href="https://1ml.com/node/{{remote_pubkey}}" target="_blank">
                    <div class="row">
                        <div class="name">
                            {{#name}}
                            <h2>{{name}}</h2>
                            {{/name}}
                            {{^name}}
                            <h2>{{remote_pubkey}}</h2>
                            {{/name}}
                            <span class="amount">{{capacity_btc}} BTC</span>
                        </div>
                        <div class="graph"><progress id="progressbar" class="" value="{{local}}" max="{{total}}" style="width: {{size}}%"></progress></div>
                        {{^active}}
                        <div class="status"><span class="label right" title="inactive"></span></div>
                        {{/active}} 
                        {{#active}}
                        <div class="status"><span class="label right" title="active"></span></div>
                        {{/active}}                          
                    </div>
                </a>
                {{/channels}}
            </div>
        </div>

    </div>
</div>

<div class="sidebar container32">
    <div>
        <p class="meta">Connect via QR code</p>
    </div>
    <img src="/qr" class="qr">
    <div class="container32 nosidepadding">
        <p class="meta">Node URI</p>
        {{#uris}}
        <p class="uri">{{.}}</p>
        {{/uris}}
    </div>
    <footer>
        <a href="https://github.com/boltcard" target="_blank">about</a> | 
        <a href="https://t.me/bolt_card" target="_blank">community</a>
</div>

</body>
</html>